{% extends "base.html" %}

{% block content %}

<div class="leftpic">
    <p><h1 align="center">Add new product</h1></p>
    <div class="col-md-8 mt-md-0 mt-3">
        <form method="POST" action="/submit" enctype="multipart/form-data">
            <ul>
                <li><p><h3>Product Name</h3>{{form.name(size=30)}}</p></li>
                <li><p><h3>Product Price</h3>{{form.price(size=20)}}</p></li>
                <li><p><h3>Description</h3>{{form.description(cols="40", rows="3")}}</p></li>
                <p><h4>Please, add image</h4>{{form.image()}}</p>
                        {{form.submit()}}
            </ul>
        </form>
    </div>
</div>

{% endblock %}
