{% extends "base.html" %}

{% block content %}
    <h1 align="center">Products List</h1>
    <ul>
     {% for i in data %}
        {% if request.args.get('price') == i['price']%}
                <li><h3><a href="{{url_for('products.get_product', id = i['id'])}}" >{{ i['name'] | title}}</a></h3></li>
        {% elif request.args.get('price') == None %}
            {% if not session.get(i['id']) %}
                <li><h3><a href="{{url_for('products.get_product', id = i['id'])}}">{{ i['name'] | title}}</a></h3></li>
            {% else %}
                <li><h3><div><a href="{{url_for('products.get_product', id = i['id'])}}"
                                onclick="return false" style="color:grey;opacity:0.5">
                                {{ i['name'] | title}}</a></div></h3></li>
            {%endif%}
        {%endif%}
     {% endfor %}
    </ul>
    <form action="{{ url_for('products.add_product') }}">
        <p><input type="submit" value="Add New"/></p>
    </form>
    <form action="/all_products">
        <p>Enter price value</p>
        <input type="text" name="price"/>
        <p><input type="submit" value="search"/> </p>
    </form>
{% endblock %}
