{% extends "base.html" %}

{% block content %}

    {% for i in data %}
        {% if i['title'] == item %}
            <div class="rightpic">
                <div class="col-md-8 mt-md-0 mt-3">
                    <p><h1 align="center">{{i['title']}}</h1></p>
                    <img src="{{ url_for('static', filename=i['img']) }}" style="float:left;width:600px;height:600px;">
                    <h4>{{i['text']}}</h4>
                    <p><h5>Count of words in this text: {{i['text'].split()|length}}</h5></p>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
